{#
    DE: Minimales Showcase-Layout - verwendet Tabler aus der Host-App
    EN: Minimal showcase layout - uses Tabler from host app

    Voraussetzung: Host-App bindet Tabler CSS/JS ein
#}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tabler Bundle Showcase{% endblock %}</title>

    {# DE: Tabler CSS muss von der Host-App bereitgestellt werden #}
    {# EN: Tabler CSS must be provided by the host app #}
    {% block stylesheets %}{% endblock %}
</head>
<body class="theme-light">
    <div class="page">
        <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="{{ path('tabler_showcase_index') }}">
                        <i class="ti ti-layout-dashboard me-2"></i>
                        Tabler Bundle
                    </a>
                </h1>
                <div class="collapse navbar-collapse" id="sidebar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tabler_showcase_index') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-home"></i>
                                </span>
                                <span class="nav-link-title">Overview</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tabler_showcase_components') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-components"></i>
                                </span>
                                <span class="nav-link-title">TwigComponents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tabler_showcase_form_types') }}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <i class="ti ti-forms"></i>
                                </span>
                                <span class="nav-link-title">FormTypes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="page-wrapper">
            {% block page_header %}{% endblock %}

            <div class="page-body">
                <div class="container-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="text-center text-secondary">
                        <a href="https://github.com/jostkleigrewe/symfony-tabler-bundle" target="_blank" class="link-secondary">
                            <i class="ti ti-brand-github me-1"></i>
                            jostkleigrewe/symfony-tabler-bundle
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>
